.contenedor-nueva-ruta {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.contenedor-nueva-ruta #crearMapId { 
    height: 300px;
    border-radius: 10px;
}

.contenedor-nueva-ruta .titulo-crear-ruta {
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.contenedor-nueva-ruta .lat-long-seleccion {
    padding: 10px;
    font-size: 11px;
    font-weight: 300;
}

.contenedor-nueva-ruta .formulario-ruta {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

.contenedor-nueva-ruta .btn-guardar {
    width: 100px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #CC5454;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.contenedor-nueva-ruta .btn-guardar:hover {
    background-color: #a73e3e;
}

/*CUSTOM INPUTS*/
.form__group {
    position: relative;
    padding: 15px 0 0;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #525252;
    outline: 0;
    font-size: 1.3rem;
    color: #525252;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.1rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #525252;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #CC5454, #ff4646);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #CC5454;
    font-weight: 700;
}

.form__field:required, .form__field:invalid {
    box-shadow: none;
}
/*FIN CUSTOM INPUTS*/

/*SELECT*/
.select-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 10px 10px 10px 0;
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #525252;
}

.select-text:focus {
    outline: none;
    border-bottom: 1px solid #525252;
}

.select .select-text {
    appearance: none;
    -webkit-appearance:none
}

.select:after {
    position: absolute;
    top: 35px;
    right: 10px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #525252;
    pointer-events: none;
}

.select-label {
    color: #525252;
    font-size: 1.3rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 25px;
    transition: 0.2s ease all;
}

.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
    color: #CC5454;
    top: 0px;
    transition: 0.2s ease all;
    font-size: 14px;
}

.select-bar {
    position: relative;
    display: block;
    width: 100%;
}

.select-bar:before, .select-bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #CC5454;
    transition: 0.2s ease all;
}

.select-bar:before {
    left: 50%;
}

.select-bar:after {
    right: 50%;
}

.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
    width: 50%;
}

.select-highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
/*FIN SELECT*/