.contenedor-home .login-btn {
    width: 100px;
    background-color: #CC5454;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.contenedor-home .login-btn:hover {
    background-color: #a73e3e;
}

.contenedor-home .cabecera-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px;
}

.contenedor-home .cabecera-home div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.contenedor-home .icono-cabecera {
    width: 190px;
}

.contenedor-home .fondo-banner-home {
    width: 100%;
    height: 400px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.contenedor-home .banner-home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 400px;
    background: rgb(204,84,84);
    background: linear-gradient(90deg, rgba(204,84,84,1) 0%, rgba(204,84,84,1) 35%, rgba(204,84,84,0) 100%);
    border-radius: 10px;
    color: #ffffff;
}

.contenedor-home .banner-home div {
    max-width: 500px;
    text-align: center;
    padding: 20px;
}

.contenedor-home .titulo-banner {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.contenedor-home .subtitulo-banner {
    font-size: 24px;
    font-weight: 300;
}

.contenedor-home .titulo-tarjetas {
    font-size: 30px;
    text-align: center;
    margin-top: 90px;
    font-weight: 700;
}

.contenedor-home .tarjetas-descriptivas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

.contenedor-home .tarjeta {
    width: 220px;
    height: 250px;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: -1px 7px 8px -4px rgb(0 0 0 / 20%);
    -moz-box-shadow: -1px 7px 8px -4px rgba(0,0,0,0.20);
    box-shadow: -1px 7px 8px -4px rgb(0 0 0 / 20%);
}

.contenedor-home .img-tarjeta {
    width: 100%;
    height: 120px;
    background-color: #c2c2c2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor-home .img-1 {
    background-image: url("../img/ruta-mtb.jpg");
}

.contenedor-home .img-2 {
    background-image: url("../img/ciclistas-1.jpg");
}

.contenedor-home .img-3 {
    background-image: url("../img/experiencias.jpg");
}

.contenedor-home .img-4 {
    background-image: url("../img/fondo-cabecera.jpg");
}

.contenedor-home .texto-tarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    min-height: 110px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.contenedor-home .cifras {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

.contenedor-home .card-cifra {
    padding: 10px;
}

.contenedor-home .fondo-cifra {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-image: url("../img/fondo-cifras.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 30px;
}

.contenedor-home .texto-cifras {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.contenedor-home .texto-info-sorteo {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.contenedor-home .contacto {
    margin-top: 20px;
    background-color: #CC5454;
    padding: 20px;
    border-radius: 10px;
}

.contenedor-home .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 100px;
    font-weight: 700;
}

.contenedor-home .box-contacto {
    max-width: 700px;
    margin: 0 auto;
}

.contenedor-home .texto-publicacion {
    font-family: 'Oxygen', sans-serif;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 92%;
    max-width: 700px;
    height: 150px;
    color: #525252;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
}

.contenedor-home .btn-publicar {
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ffffff;
    color: #CC5454;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.contenedor-home .btn-publicar:hover {
    background-color: #e0e0e0;
}

.contenedor-home .input-filtro {
    width: 92%;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #c7c7c7;
    color: #525252;
    outline: none;
}

.contenedor-home .mail-text {
    color: #ffffff;
}

.contenedor-home .mail-text a {
    color: #ffffff;
    text-decoration: underline;
}

.contenedor-home .mensaje-enviado {
    display: none;
    font-weight: 700;
    color: #ffffff;
}

@media (max-width: 576px) {
    .contenedor-home .cabecera-home {
        display: block;
    }

    .contenedor-home .icono-cabecera {
        margin-bottom: 30px;
    }
}