.contenedor-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #f9f9f9;
    padding: 30px;
}

.contenedor-menu .icono {
    width: 200px;
}

.contenedor-menu .box-login-reg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.contenedor-menu .login-btn {
    width: 100px;
    background-color: #CC5454;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.contenedor-menu .login-btn:hover {
    background-color: #a73e3e;
}

.contenedor-menu .box-items-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 100px;
    padding-right: 100px;
}

.contenedor-menu .nombre-usuario {
    width: 130px;
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    margin-top: 10px;
}

.contenedor-menu .img-fake {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #CC5454;
    border-radius: 50px;
}

.contenedor-menu .img-logout {
    width: 40px;
    margin-left: 20px;
    cursor: pointer;
}