.contenedor-publicaciones {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
}

.contenedor-publicaciones .box-form-publicacion {
    width: 100%;
}

.contenedor-publicaciones .titulo-form {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #525252;
}

.contenedor-publicaciones .texto-no-publicaciones {
    display: none;
    text-align: center;
    font-size: 16px;
    color: #525252;
    margin-top: 50px;
}

.contenedor-publicaciones .texto-publicacion {
    font-family: 'Oxygen', sans-serif;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 92%;
    max-width: 500px;
    height: 150px;
    color: #525252;
    font-size: 16px;
    padding: 10px;
}

.contenedor-publicaciones .box-under-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 500px;
    margin: 0 auto;
}

.contenedor-publicaciones .btn-publicar {
    width: 100px;
    background-color: #CC5454;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.contenedor-publicaciones .btn-publicar:hover {
    background-color: #a73e3e;
}

.contenedor-publicaciones .texto-caracteres {
    color: #b1b1b1;
}

.contenedor-publicaciones .listado-publicaciones {
    max-width: 500px;
    margin: 0 auto;
    display: block;
}

.contenedor-publicaciones .item-publicacion {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    -webkit-box-shadow: -1px 7px 8px -4px rgb(0 0 0 / 20%);
    -moz-box-shadow: -1px 7px 8px -4px rgba(0,0,0,0.20);
    box-shadow: -1px 7px 8px -4px rgb(0 0 0 / 20%);
}

.contenedor-publicaciones .box-img-pub {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.contenedor-publicaciones .box-textos-pub {
    padding: 20px;
}

.contenedor-publicaciones .nombre-fecha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-weight: 700;
}

.contenedor-publicaciones .img-fake {
    width: 50px;
    height: 50px;
    border: 1px solid #CC5454;
    border-radius: 50px;
    background-image: url("../img/user-default.png");
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

.contenedor-publicaciones .texto-pub {
    text-align: left;
}

.contenedor-publicaciones .box-likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.contenedor-publicaciones .box-likes p {
    margin: 0;
}

.contenedor-publicaciones .like-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-right: 10px;
    cursor: pointer;
}

.contenedor-publicaciones .boton-like {
    width: 25px;
    margin-right: 5px;
}

.contenedor-publicaciones .fecha-text {
    color: #bbbbbb;
    font-size: 12px;
}

/*ANIMACION LOADING REGISTRO*/

.contenedor-publicaciones #loading-publicaciones {
	display: none;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #CC5454;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #CC5454 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
/*FIN ANIMACION LOADING REGISTRO*/

@media (max-width: 576px) {
    .contenedor-publicaciones .img-fake {
        width: 30px;
        height: 30px;
    }

    .contenedor-publicaciones .box-textos-pub {
        padding: 10px;
    }
}