.contenedor-registro {
    padding: 10px;
}

.contenedor-registro .box-form {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: -1px 7px 8px -4px rgb(0 0 0 / 20%);
    -moz-box-shadow: -1px 7px 8px -4px rgba(0,0,0,0.20);
    box-shadow: -1px 7px 8px -4px rgb(0 0 0 / 20%);
}

.contenedor-registro .logo-form {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.contenedor-registro .btn-registrar {
    width: 100px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #CC5454;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.contenedor-registro .btn-registrar:hover {
    background-color: #a73e3e;
}

.contenedor-registro .mensaje-error {
    display: none;
    text-align: center;
    color: #CC5454;
    font-size: 12px;
}

/*CUSTOM INPUTS*/
.form__group {
    position: relative;
    padding: 15px 0 0;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #525252;
    outline: 0;
    font-size: 1.3rem;
    color: #525252;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #525252;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #CC5454, #ff4646);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #CC5454;
    font-weight: 700;
}

.form__field:required, .form__field:invalid {
    box-shadow: none;
}
/*FIN CUSTOM INPUTS*/

/*ANIMACION LOADING REGISTRO*/

.contenedor-registro #loading-reg {
	display: none;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #CC5454;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #CC5454 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
  /*FIN ANIMACION LOADING REGISTRO*/