.contenedor-ruta {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.contenedor-ruta #rutaMapId { 
    height: 300px;
    border-radius: 10px;
}

.contenedor-ruta .nombre-ruta {
    font-size: 20px;
    color: #CC5454;
    padding: 10px;
    text-align: center;
    font-weight: 700;
}

.contenedor-ruta .titulo-info {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 10px;
    margin-top: 30px;
}

.contenedor-ruta .info-ruta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-ruta .item-info {
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 10px;
}

.contenedor-ruta .item-info img {
    width: 25px;
}

.contenedor-ruta .item-info p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 300;
}

.contenedor-ruta .box-organizador {
    max-width: 200px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 7px 8px -4px rgb(0 0 0 / 20%);
    -moz-box-shadow: -1px 7px 8px -4px rgba(0,0,0,0.20);
    box-shadow: -1px 7px 8px -4px rgb(0 0 0 / 20%);
}

.contenedor-ruta .box-organizador p {
    font-weight: 700;
}

.contenedor-ruta .img-organizador {
    width: 100px;
    height: 100px;
    border: 2px solid #CC5454;
    border-radius: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../img/user-default.png");
    background-size: cover;
    background-position: center;
}

.contenedor-ruta .nombre-organizador {
    font-size: 16px;
    font-weight: 700;
    color: #CC5454;
}

.contenedor-ruta .box-participantes {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
}

.contenedor-ruta .cabecera-participantes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.contenedor-ruta .texto-num-participantes {
    text-align: left;
    font-weight: 700;
}

.contenedor-ruta .btn-inscripcion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 120px;
    background-color: #CC5454;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    -webkit-box-shadow: -1px 7px 8px -4px rgb(0 0 0 / 20%);
    -moz-box-shadow: -1px 7px 8px -4px rgba(0,0,0,0.20);
    box-shadow: -1px 7px 8px -4px rgb(0 0 0 / 20%);
}

.contenedor-ruta .btn-inscripcion:hover {
    background-color: #af3a3a;
}

.contenedor-ruta .nombre-participante span {
    font-weight: 700;
    margin-right: 10px;
}

.contenedor-ruta .box-comentarios {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
}

.contenedor-ruta .texto-num-comentarios {
    text-align: left;
    font-weight: 700;
}

@media (max-width: 576px) {

}