.contenedor-social {
    padding: 10px;
}

.contenedor-social .box-tabs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}

.contenedor-social .tab-item {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #525252;
    cursor: pointer;
}

.contenedor-social .tab-item p{
    margin: 0px;
}

.contenedor-social .tab-activa {
    border-bottom: 2px solid #CC5454;
    color: #CC5454;
}

.contenedor-social .contenido-publicaciones {
    display: block;
}

.contenedor-social .contenido-seguidores {
    display: none;
}

.contenedor-social .contenido-seguidos {
    display: none;
}

.contenedor-social .contenido-todos {
    display: none;
}

@media (max-width: 992px) {
    .contenedor-social .box-tabs {
        justify-content: space-around;
    }

    .contenedor-social .tab-item p{
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .contenedor-social .box-tabs {
        justify-content: space-around;
    }

    .contenedor-social .tab-item {
        padding-left: 5px;
        padding-right: 5px;
    }

    .contenedor-social .tab-item p{
        margin-top: 5px;
        font-size: 10px;
    }
}