.contenedor-user {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}

.contenedor-user .card-user {
    max-width: 900px;
    min-height: 200px;
    margin: 0 auto;
    background: linear-gradient(to right, #CC5454, #ff6e6e);;
    border-radius: 10px;
    padding: 10px;
}

.contenedor-user .num-user {
    width: 98%;
    color: #ffffff;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
}

.contenedor-user .box-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px;
    margin-top: -30px;
}

.contenedor-user .img-user-render {
    width: 160px;
    height: 160px;
    border: 2px solid #ffffff;
    border-radius: 160px;
    background-image: url("../img/user-default.png");
    background-size: cover;
    background-position: center;
}

.contenedor-user .datos-user {
    width: 50%;
    color: #ffffff;
    text-align: left;
}

.contenedor-user .nombre-user {
    font-size: 32px;
    font-weight: 700;
}

.contenedor-user .provincia-user {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.contenedor-user .fecha-user {
    font-size: 14px;
    font-weight: 400;
}

.contenedor-user .btn-seguir {
    width: 120px;
    padding: 10px;
    background-color: #ffffff;
    color: #ff6e6e;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: -1px 7px 8px -4px rgb(0 0 0 / 20%);
    -moz-box-shadow: -1px 7px 8px -4px rgba(0,0,0,0.20);
    box-shadow: -1px 7px 8px -4px rgb(0 0 0 / 20%);
}

.contenedor-user .titulo-seccion {
    font-size: 16px;
    font-weight: 700;
    color: #525252;
    text-align: left;
    margin-top: 30px;
}

.contenedor-user .marker-ciudad {
    width: 20px;
}

.contenedor-user .box-rutas-user {
    max-width: 900px;
    margin: 0 auto;
}


.contenedor-user .item-publicacion {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    -webkit-box-shadow: -1px 7px 8px -4px rgb(0 0 0 / 20%);
    -moz-box-shadow: -1px 7px 8px -4px rgba(0,0,0,0.20);
    box-shadow: -1px 7px 8px -4px rgb(0 0 0 / 20%);
}

.contenedor-user .box-img-pub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.contenedor-user .box-nombre-foto {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.contenedor-user .box-textos-pub {
    padding: 20px;
}

.contenedor-user .nombre-fecha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-weight: 700;
}

.contenedor-user .img-fake {
    width: 50px;
    height: 50px;
    border: 1px solid #CC5454;
    border-radius: 50px;
    background-image: url("../img/user-default.png");
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

.contenedor-user .texto-pub {
    text-align: left;
}

.contenedor-user .box-likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.contenedor-user .box-likes p {
    margin: 0;
}

.contenedor-user .like-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-right: 10px;
    cursor: pointer;
}

.contenedor-user .boton-like {
    width: 25px;
    margin-right: 5px;
}

.contenedor-user .fecha-text {
    color: #bbbbbb;
    font-size: 12px;
}

.contenedor-user .btn-borrar-publicacion {
    width: 30px;
    height: 30px;
    background-image: url("../img/delete-gris.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.contenedor-user .seguir-desactivado {
    color: #525252 !important;
}

.contenedor-user .grafica-1 {
    max-width: 800px;
    margin: 0 auto;
}

.contenedor-user .grafica-2 {
    max-width: 500px;
    margin: 0 auto;
}

.contenedor-user .km-totales {
    max-width: 200px;
    margin: 0 auto;
    font-weight: 700;
    background-color: #cc54544d;
}

@media (max-width: 992px) {
    .contenedor-user .img-user-render {
        width: 90px;
        height: 90px;
    }

    .contenedor-user .nombre-user {
        font-size: 19px;
    }

    .contenedor-user .provincia-user {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .contenedor-user .box-data {
        display: block;
        text-align: center;
    }

    .contenedor-user .nombre-user {
        font-size: 18px;
    }

    .contenedor-user .provincia-user {
        font-size: 14px;
        justify-content: center;
    }

    .contenedor-user .img-user-render {
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }

    .contenedor-user .datos-user {
        width: 100%;
        text-align: center;
    }

    .contenedor-user .btn-seguir {
        margin: 0 auto;
    }

    .contenedor-user .img-fake {
        width: 30px;
        height: 30px;
    }

    .contenedor-user .box-textos-pub {
        padding: 10px;
    }
}
